@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,700;1,500&display=swap');

* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

body {
     background-color:rgb(187, 238, 187) ;
        font-family: 'Kumbh Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
    position: relative;
     width: 1000px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.logo {
    font-size: 0.9rem;
    color: rgb(4, 4, 166);
    font-weight: 600;
     margin-left: 73px;
}

 .nav-bar .active {
       text-decoration-line: underline;
       text-decoration-color:blue ;
       text-decoration-thickness:2px ;
       
       
        

}



.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar ul li {
    padding: 2rem 3rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(83, 82, 82);
    font-size: 0.9rem;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    right: 50px;
   /* left: 20px;*/
    top: 30px;
    bottom: 50px;
    
}

.content-main h1 {
    font-size: 6.5rem;
    color: rgb(54, 54, 171);
    font-weight: bold;
    line-height: 100px;
}

.content-main p {
    font-size: 1.5rem;
    color: rgb(109, 109, 109);
}

.content-main button {
    width: 150px;
    padding: 11px 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    background-color:rgba(253, 233, 9, 0.84) ;
    border: none;
    border-radius: 20px;
    margin: 20px 0;

}

/* .image {
    position: relative;
} */

img {
    position: absolute;
    bottom: 0;
  /* right: 100px;*/
    left: 250px;
   /* top: -100px;*/
  /* bottom: 3px;*/
    

    
    
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: o;
    position: fixed;
    text-align: center;
    margin-bottom: 25px;
}